@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Montserrat:wght@300;500;700&family=Neucha&display=swap');
@import './form';

$bg : #333333;
$mainColor: #3f3f3f;
$secColor: #b3b0b0;
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    color: #fff;
    p{
        font-weight:300;
    }
    h4,h3,h5{
        font-weight: 500;   
    }
}
.App{
    background: $bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
.darkApp {
    background: #fff;
    color: $mainColor;
}
.btn{
    @include button;
}
.allNotes-btn{
    @include button;
    width: auto;
    padding: 10px 20px;
}
.navigation{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.1rem;
    border-bottom: 2px solid $mainColor;
    .icon{
     font-size: 2rem;
     border-radius: 50%;
     height: 40px;
     width: 40px;
    }
    .nav-left{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .nav-right{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        button:nth-child(1){
            background: none;
            border: none;
            color: #fff;
        }
        .search-icon{
            font-size: 2rem;
            cursor: pointer;
            margin-right: 15px;
            border-radius: 50%;
        }
        .dark-mode{
            background: #fff;
            color: $mainColor;
            width: 60px;
            height: 25px;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            padding: 4px;
            font-size: .9rem;
            cursor: pointer;

            .dark-sphere{
                background: $bg;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                z-index: 2;
            }
        }
        .dark-mode-on{
            @extend .dark-mode;
            background: $bg;
            color: #fff;
            .dark-sphere{
                background: #fff;
            }
        }
    }
    
}
.darkNavigation{
    @extend .navigation;
    border-bottom: 2px solid $secColor;
    color: $bg;
}
.main{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    margin: 1rem 2rem;
    .notesMenu{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border-right: 2px solid $mainColor;
        width: 20%;
        .addSection{
            font-size: 1.2rem;
            width: 95%;
        }
        .notesMenu-note{
            border-bottom: 2px solid $mainColor;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
            color: $mainColor;
            cursor: pointer;
            .trashIcon{
                transition: .2s;
                background: transparent;
                border: none;
                color: red;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1)
                }
            }
            .editBtn{
                @extend .trashIcon;
                color: yellow;
            }
        }
        .activeSection {
            box-shadow: 6px 5px 50px rgba($color: #000000, $alpha: 1.0)
        }
        .darkNotesMenu-note{
            @extend .notesMenu-note;
            border-bottom: 2px solid $secColor;
            .notesMenu-note__quan{
                color: $mainColor;
            }
            .notesMenu-note__title{
                color: $mainColor;
                font-weight: bold;
            }
        }
        .notesMenu-note__title{
            color: $secColor;
        }
        .notesMenu-note__quan{
            background: red;
            padding: 7px;
            border-radius: 10px;
        }
    }
    .darkNotesMenu{
        @extend .notesMenu;
        border-right: 2px solid $secColor;
    }
    .notes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
        width: 70%;
        .notes-note{
         background: #CD5B45;
         padding: 1rem;
         display: flex;
         justify-content: space-between;
         flex-direction: column;   
         border-radius: 10px;
         box-shadow: 1px 3px 4px rgba($color: #000000, $alpha: .2);
         transition: .3s;
         color: $bg;
         width: 300px;
         min-height: 350px;
         max-height: 600px;
         &:hover{
            transform: translate(10px,-10px);
         }
        .note-up{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4{
            background: $bg;
            color: #fff;
            font-weight: bold;
            font-size: .9rem;
            padding: 10px;
            border-radius: 10px;
        }
        h3{
            word-break: break-all;
            font-weight: bold;
        }
        }
        .note-text{
            line-height: 24px;
            margin: 10px 0;
            font-weight: 500;
            font-size: .9rem;
            word-break: break-all;
        }
        .note-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #fff;
        padding-top: 5px;
        .trashIcon{
            width: 30px;
            height: 30px;
            font-size: 1.15rem;
            border-radius: 50%;
            border: none;
            @include flexCenter('');
        }
        }
        }
        .darkNotes-note{
            @extend .notes-note;
            color: $bg;
            .note-up h4{
                color: $bg;
                background: #fff;
            }
        }
    }
}
/* -------Media Queries:-------- */
@media screen and (max-width:1425px) {
    .notes{
        width: 80%!important;
    }
}
@media screen and (max-width:1270px) {
    .notes{
        grid-template-columns: repeat(2,1fr)!important;
        width: auto!important;
    }
}
@media screen and (max-width:920px) {
    .main{
        flex-direction: column;
        width: 100%!important;
        .notesMenu{
            width: 90%!important;
        }
        .notes{
            gap: 40px 100px;
        }
        .allNotes-btn{
           margin: 0;
        }
    }
}
@media screen and (max-width:865px) {
    .navigation{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .notes-note{
        width: 80%!important;
    }
}
@media screen and (max-width:680px) {
    .notes{
        grid-template-columns: 1fr!important;
    }
    .notes-note{
        width: 90%!important;
    }
}
@media screen and (max-width:680px) {
    .navigation{
        display: flex;
        .nav-left{
            display: none!important;
            .allNotes-btn{
                margin: 0!important;
            }
        }
        .nav-right{
            gap: 1px;
        }
    }
    .main{
        margin: 1rem!important;
    }
}